<div class="login">
  <div class="login__form">
    <div class="login__header-container">
      <h1 class="login__header">BackOffice</h1>
      <span class="login__info" matTooltip="Login [ Username : admin | Password: admin ]">
        <mat-icon>info</mat-icon>
      </span>
      </div>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" [(ngModel)]="username" [value]="username" name="username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" [(ngModel)]="password" [value]="password"
          name="password">
      </mat-form-field>
      <p *ngIf="errorLogin" class="login__error">Username / Password Invalid</p>
      <button mat-flat-button class="login__button" (click)="login()">Login</button>
    </form>
  </div>
</div>